<hero-section
  [heroImage]="'/assets/photos/front/event-hero.webp'"
  [heroTitle]="'Eventos'"
/>

<!-- Events List -->

<section class="px-[7%] py-[3%] font-jakarta">
  <div class="flex flex-col items-center justify-center gap-7">
    @for (event of eventService.getAllEvents(); track event; let odd = $odd) {
    <div class="flex flex-col sm:flex-row items-center gap-10">
      <div
        class="aspect-video w-full max-h-50 sm:flex-1/3 sm:max-w-250"
        [class.sm:order-2]="odd"
      >
        <img
          class="size-full object-cover rounded-xl"
          [src]="event.image"
          [alt]="event.title + ' event image'"
        />
      </div>
      <div
        class="flex flex-col items-start justify-center sm:flex-2/3 gap-3"
        [class]="odd ? 'sm:items-end sm:order-1' : 'sm:items-start'"
      >
        <div class="flex items-start justify-center gap-2 italic">
          <span>{{ event.date | date : "longDate" }}</span>
          <div>{{ event.category }}</div>
        </div>
        <h2 class="text-3xl font-lobster">{{ event.title }}</h2>
        <p [class.sm:text-right]="odd">
          {{ event.description }}
        </p>
        <button>reserve text</button>
      </div>
    </div>
    }
  </div>
</section>

<!-- <div
  class="w-full mx-auto mt-8 px-4 md:px-10 lg:px-20 transition-all ease-in-out"
>
  <div
    class="grid grid-cols-1 gap-6 mb-5 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    @for (event of eventService.getAllEvents(); track event) {
    <div
      class="w-full rounded-xl overflow-hidden shadow bg-cream-50 border border-secondary-content/50 flex flex-col"
    >
      <img
        [src]="event.image"
        [alt]="event.title"
        class="w-full h-32 object-cover"
      />
      <div class="flex flex-col flex-1 p-4 bg-accent gap-3">
        <div class="flex items-center justify-between mb-2">
          <h3 class="font-merriweather font-bold text-lg">{{ event.title }}</h3>
        </div>
        <div class="flex flex-row justify-between">
          <div class="badge badge-primary">
            {{ event.category | categoryTitle }}
          </div>
          <span class="text-sm text-gray-600">{{
            event.date | eventDate
          }}</span>
        </div>
        <p class="text-sm text-gray-700">
          {{ event.description }}
        </p>
      </div>
    </div>
    }
    @empty {
    <div class="w-full col-span-full flex justify-center my-8">
      <div class="loading loading-spinner text-primary"></div>
    </div>
    }
  </div>
</div> -->
<!-- End Events List -->
