<!-- Hero Section -->
<div class="relative w-full h-(--hero-size)">
  <img
    class="w-full h-full object-cover object-top"
    src="/assets/photos/front/home-hero.webp"
    alt="Home Page Hero"
  />
  <div class="absolute inset-0 bg-base-content opacity-60"></div>
</div>
<!-- End Hero Section -->
<!-- Service Section -->
<div class="relative w-full flex justify-center items-center -mt-37 z-20">
  <div
    class="flex flex-col justify-center items-center py-121 md:py-0 md:items-baseline md:flex-row md:px-10 lg:px-20 gap-8 w-full h-75 px-4"
  >
    <!-- Menu Information -->
    <div
      class="flex flex-col items-center justify-start w-75 md:w-100 h-fit min-h-75 bg-accent text-base-100 shadow-lg p-6"
    >
      <div
        class="flex items-center justify-center bg-primary rounded-full w-20 h-20 mb-10"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="text-primary-content"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
          <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
          <path d="M3 6l0 13" />
          <path d="M12 6l0 13" />
          <path d="M21 6l0 13" />
        </svg>
      </div>
      <div class="text-center text-base-content text-lg">
        <h2 class="font-merriweather font-bold mb-4">Menú</h2>
        <p class="font-jakarta">
          Ofrecemos un menú exclusivo con ingredientes selectos y frescos
        </p>
      </div>
    </div>
    <!-- End Menu Information -->
    <!-- Variety information -->
    <div
      class="flex flex-col items-center justify-start w-75 md:w-100 h-fit min-h-75 bg-accent text-base-100 shadow-lg p-6"
    >
      <div
        class="flex items-center justify-center bg-primary rounded-full w-20 h-20 mb-10"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-tools-kitchen-2"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M19 3v12h-5c-.023 -3.681 .184 -7.406 5 -12zm0 12v6h-1v-3m-10 -14v17m-3 -17v3a3 3 0 1 0 6 0v-3"
          />
        </svg>
      </div>
      <div class="text-center text-base-content text-lg">
        <h2 class="font-merriweather font-bold mb-4">Variedad</h2>
        <p class="font-jakarta">
          Nuestros platos ofrecen sabores únicos que fusionan opciones clásicas
          y creativas
        </p>
      </div>
    </div>
    <!-- End Variety information -->
    <!-- Service information -->
    <div
      class="flex flex-col items-center justify-start w-75 md:w-100 h-fit min-h-75 bg-accent text-base-100 shadow-lg p-6"
    >
      <div
        class="flex items-center justify-center bg-primary rounded-full w-20 h-20 mb-10"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-glass-full"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M5.004 10.229l-.003 -.186l.001 -.113l.008 -.071l1 -7a1 1 0 0 1 .877 -.853l.113 -.006h10a1 1 0 0 1 .968 .747l.022 .112l1.006 7.05l.004 .091c0 3.226 -2.56 5.564 -6 5.945v4.055h3a1 1 0 0 1 .117 1.993l-.117 .007h-8a1 1 0 0 1 -.117 -1.993l.117 -.007h3v-4.055c-3.358 -.371 -5.878 -2.609 -5.996 -5.716zm11.129 -6.229h-8.267l-.607 4.258a6.001 6.001 0 0 1 5.125 .787l.216 .155a4 4 0 0 0 4.32 .31l-.787 -5.51z"
          />
        </svg>
      </div>
      <div class="text-center text-base-content text-lg">
        <h2 class="font-merriweather font-bold mb-4">Servicio Gourmet</h2>
        <p class="font-jakarta">
          Un espacio elegante para disfrutar comer en familia
        </p>
      </div>
    </div>
    <!-- End Service information -->
  </div>
</div>
<!-- End Service Section -->
<!-- Description Section -->
<div
  class="flex flex-col items-center gap-18 my-15 p-4 w-full h-full text-base-content md:flex-row md:p-10 lg:p-20"
>
  <div>
    <h2
      class="font-merriweather text-primary text-center text-3xl underline underline-offset-8 md:text-left"
    >
      “Los sabores en tu mesa”
    </h2>
    <p class="font-jakarta text-lg text-center mt-8 md:text-left">
      Sumérgete en una experiencia culinaria única donde la elegancia y el sabor
      se fusionan en cada detalle. Nuestro restaurante ofrece un ambiente
      sofisticado, atención impecable y una carta diseñada por chefs de primer
      nivel.
    </p>
    <p class="font-jakarta text-lg text-center mt-5 md:text-left">
      Cada plato ofrece sabores refinados con ingredientes frescos y
      presentaciones memorables. Ideal para celebraciones especiales, cenas
      íntimas o simplemente para quienes disfrutan del buen gusto en su máxima
      expresión.
    </p>
  </div>
  <div class="max-h-90 max-w-140">
    <img
      class="object-cover md:min-w-80 md:min-h-100"
      src="/assets/photos/front/misc1.webp"
      alt="Home Page Hero"
    />
  </div>
</div>
<!-- End Description Section -->
