<hero-section
  [heroImage]="'/assets/photos/front/reservation-hero.webp'"
  [heroTitle]="'Reservas'"
/>

<div class="flex items-center justify-center font-jakarta">
  <div
    class="flex flex-col items-center justify-center gap-10 md:gap-18 lg:gap-25 w-full min-h-125 mx-[5%] my-10 md:flex-row"
  >
    <div class="flex-5/9">
      <div class="flex flex-col items-center justify-center gap-5">
        <div>
          <h2 class="text-5xl font-bold text-center">Haz tu Reserva</h2>
          <svg
            viewBox="70 104 360 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M70.002 111.5L100.002 112.5C100.002 112.5 244.502 112.5 246.502 112.5C248.502 112.5 250.002 118.5 250.002 118.5C250.002 118.5 251.502 112.5 253.502 112.5C255.502 112.5 400.002 112.5 400.002 112.5L429.998 111.5L400.002 110.5C400.002 110.5 255.502 110.5 253.502 110.5C251.502 110.5 250.002 104.5 250.002 104.5C250.002 104.5 248.502 110.5 246.502 110.5C244.502 110.5 100.002 110.5 100.002 110.5L70.002 111.5Z"
              fill="currentColor"
            />
          </svg>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5">
          <div class="flex flex-col items-center gap-2">
            <div class="flex items-center justify-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="text-primary"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-5 2.66a1 1 0 0 0 -.993 .883l-.007 .117v5l.009 .131a1 1 0 0 0 .197 .477l.087 .1l3 3l.094 .082a1 1 0 0 0 1.226 0l.094 -.083l.083 -.094a1 1 0 0 0 0 -1.226l-.083 -.094l-2.707 -2.708v-4.585l-.007 -.117a1 1 0 0 0 -.993 -.883z"
                />
              </svg>
              <span class="text-xl font-semibold">Horario</span>
            </div>
            <ul>
              <li>Lunes - Sábado: 10am - 20pm</li>
              <li>Domingo: Cerrado</li>
            </ul>
          </div>
          <div class="flex flex-col items-center gap-2">
            <div class="flex items-center justify-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="text-primary"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M9 3a1 1 0 0 1 .877 .519l.051 .11l2 5a1 1 0 0 1 -.313 1.16l-.1 .068l-1.674 1.004l.063 .103a10 10 0 0 0 3.132 3.132l.102 .062l1.005 -1.672a1 1 0 0 1 1.113 -.453l.115 .039l5 2a1 1 0 0 1 .622 .807l.007 .121v4c0 1.657 -1.343 3 -3.06 2.998c-8.579 -.521 -15.418 -7.36 -15.94 -15.998a3 3 0 0 1 2.824 -2.995l.176 -.005h4z"
                />
              </svg>
              <span class="text-xl font-semibold">Contacto</span>
            </div>
            <ul>
              <li>(02) 222 - 1234</li>
              <li>contacto&#64;sabores.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full shrink-0 flex-4/9">
      <div
        class="relative flex items-center bg-accent p-10 min-h-75 before:absolute before:top-0 before:left-0 before:w-full before:h-2 before:bg-primary"
      >
        <form class="flex-1" [formGroup]="reserveForm">
          @if (false) {
          <div class="flex flex-col justify-center gap-4">
            <label class="font-semibold text-lg" for="event-select"
              >Seleccionar Evento</label
            >
            <select
              #eventSelect
              class="appearance-none bg-background py-2 px-3 rounded-xl"
              name="event-select"
              id="event-select"
              formControlName="name"
              (change)="onEventSelect(eventSelect.value)"
            >
              <option value="">— Eventos —</option>
              <option value="lunch">Almuerzo o Cena</option>
              <option value="wedding">Boda</option>
              <option value="formal">Evento Formal</option>
              <!--  -->
              @for (event of eventsService.getAllEvents(); track $index) {
              <option [value]="event.title.replaceAll(' ', '-').toLowerCase()">
                {{ event.title }}
              </option>
              }
              <!--  -->
            </select>
            <a class="w-full bg-primary text-center py-2 rounded-xl">
              <span class="font-bold text-background">Siguiente</span></a
            >
          </div>
          }
          <!--  -->
          @if (true) {
          <div class="flex flex-col justify-center gap-4">
            <label
              class="font-lobster text-4xl text-center py-4"
              for="date-picker"
              >Seleccionar Fecha y Hora</label
            >
            <hlm-date-picker
              class="font-jakarta"
              buttonId="date"
              name="date-picker"
              id="date-picker"
            >
              <span class="text-base">Fechas Disponibles</span>
            </hlm-date-picker>

            <!-- Time Selector -->
            <div class="grid grid-cols-3 gap-3">
              @for (timeSlot of timeSlots; track timeSlot) {
              <button
                type="button"
                class="py-2 px-3 min-w-18 border-2 rounded-xl transition-all duration-200 hover:bg-primary hover:text-primary-foreground hover:border-secondary"
                [ngClass]="
                  reserveForm.controls.time.value === timeSlot
                    ? 'bg-primary text-primary-foreground border-secondary'
                    : 'bg-secondary border-secondary '
                "
                (click)="onTimeSelect(timeSlot)"
              >
                {{ timeSlot }}
              </button>
              }
            </div>
            <div class="grid grid-cols-2 gap-3 pt-4">
              <a class="w-full bg-primary text-center py-2 rounded-xl">
                <span class="font-bold text-background">Atrás</span></a
              >

              <a class="w-full bg-primary text-center py-2 rounded-xl">
                <span class="font-bold text-background">Siguiente</span></a
              >
            </div>
            <!-- End Time Selector -->
          </div>
          }
          <!--  -->
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Reservation Alert  -->
@if ( wasSaved() ) {
<div
  class="fixed z-50 right-6 bottom-6 max-w-sm w-full p-4 left-1/2 -translate-x-1/2 animate-fadeIn md:right-6 md:bottom-6 md:translate-x-0 md:left-auto"
>
  <div role="alert" class="alert bg-primary text-primary-content">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
      <path d="M9 12l2 2l4 -4" />
    </svg>
    <span class="font-jakarta font-bold"
      >Reservación Generada Correctamente</span
    >
  </div>
</div>
}
<!--  -->
@if ( isError() ) {
<div
  class="fixed z-50 right-6 bottom-6 max-w-sm w-full p-4 left-1/2 -translate-x-1/2 animate-fadeIn md:right-6 md:bottom-6 md:translate-x-0 md:left-auto"
>
  <div role="alert" class="alert bg-error text-primary-content">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-xbox-x"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path
        d="M12 21a9 9 0 0 0 9 -9a9 9 0 0 0 -9 -9a9 9 0 0 0 -9 9a9 9 0 0 0 9 9z"
      />
      <path d="M9 8l6 8" />
      <path d="M15 8l-6 8" />
    </svg>
    <span class="font-jakarta font-bold"
      >La información ingresada no es correcta</span
    >
  </div>
</div>
}
<!-- End Reservation Alert -->
