<!-- Hero Section -->
<div class="relative w-full h-(--hero-size)">
  <img
    class="w-full h-full object-cover object-top"
    src="/assets/photos/front/about-hero.webp"
    alt="Home Page Hero"
  />
  <div class="absolute inset-0 bg-base-content opacity-60"></div>
</div>
<!-- End Hero Section -->
<!-- About Section -->
<div
  class="flex flex-col items-center gap-18 my-15 p-4 w-full h-full text-base-content md:flex-row md:p-10 lg:p-20"
>
  <div class="max-h-90 max-w-140">
    <img
      class="object-cover md:min-w-80 md:min-h-100 shadow-2xl rounded-lg"
      src="/assets/photos/front/misc2.webp"
      alt="Home Page Hero"
    />
  </div>
  <div>
    <h2
      class="font-merriweather text-primary text-center text-3xl underline underline-offset-8 md:text-left"
    >
      Quienes somos
    </h2>
    <p class="font-jakarta text-lg text-center mt-8 md:text-left">
      En <span class="font-lobster font-bold italic">Sabores</span>, creemos que
      la gastronomía va más allá del plato: es una experiencia que se vive con
      los cinco sentidos. Nuestro compromiso es ofrecer cocina con ingredientes
      frescos, técnicas refinadas y presentaciones que despiertan emociones.
      Cada detalle está cuidadosamente pensado para la velada inolvidable.
    </p>
    <p class="font-jakarta text-lg text-center mt-5 md:text-left">
      Nos apasiona ofrecer un servicio cálido y personalizado, creando un
      ambiente donde cada cliente se sienta especial. Cada visita es una
      oportunidad para disfrutar de sabor, elegancia y momentos inolvidables.
    </p>
  </div>
</div>
<!-- End About Section -->
<!-- Highlights Section -->
<div class="flex items-center justify-center w-full h-full bg-primary md:h-50">
  <div
    class="flex flex-col items-center justify-between w-full p-10 m-5 gap-5 md:flex-row"
  >
    <div
      class="flex flex-col items-center font-merriweather text-primary-content text-center md:flex-row gap-3 md:text-left"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="90"
        height="90"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-tools-kitchen-2"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M19 3v12h-5c-.023 -3.681 .184 -7.406 5 -12zm0 12v6h-1v-3m-10 -14v17m-3 -17v3a3 3 0 1 0 6 0v-3"
        />
      </svg>
      <span class="text-xl w-40">Platos con sabores únicos </span>
    </div>
    <div
      class="flex flex-col items-center font-merriweather text-primary-content text-center md:flex-row gap-3 md:text-left"
    >
      <svg
        height="90"
        width="90"
        version="1.1"
        id="_x32_"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 512 512"
        xml:space="preserve"
        fill="currentColor"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <g>
            <path
              class="st0"
              d="M430.126,237.978H81.874c-15.456,0-27.984,12.528-27.984,27.984c0,15.456,12.528,27.984,27.984,27.984h348.252 c15.456,0,27.984-12.528,27.984-27.984C458.111,250.507,445.582,237.978,430.126,237.978z"
            ></path>
            <path
              class="st0"
              d="M273.934,50.479c6.398-5.229,10.567-13.075,10.567-21.978C284.501,12.76,271.738,0,256,0 c-15.738,0-28.5,12.76-28.5,28.501c0,8.903,4.169,16.75,10.567,21.978c-86.018,8.964-153.083,81.689-153.083,170.075h342.033 C427.017,132.168,359.952,59.443,273.934,50.479z M184.083,192.57h-55.568c0-55.793,42.001-101.705,96.094-108.021L184.083,192.57z "
            ></path>
            <path
              class="st0"
              d="M365.369,380.852l-8.575-6.061c-8.56-6.036-14.126-15.474-15.292-25.896l-3.924-35.102 c0.122-3.996,0.161-9.596-2.644-12.449c-2.806-2.854-6.657-4.446-10.662-4.398v0.049c-4.782,0.054-10.789-0.407-15.918,6.407 l-14.654,26.278c-9.711,16.184-22.188,16.16-35.218,11.666l-102.16-44.844c-5.6-1.925-11.8,0.037-15.277,4.828l-0.139,0.195 c-4.206,5.794-3.128,13.87,2.45,18.365l117.614,97.903l66.205,33.268l-10.944,20.12L389.27,512l58.756-107.997l-73.043-40.817 L365.369,380.852z M422.823,411.29L381.9,486.511l-40.465-22.616l40.92-75.221L422.823,411.29z"
            ></path>
            <circle class="st0" cx="395.522" cy="421.433" r="10.105"></circle>
          </g>
        </g>
      </svg>
      <span class="text-xl w-40">Servicio profesional</span>
    </div>
    <div
      class="flex flex-col items-center font-merriweather text-primary-content text-center md:flex-row gap-3 md:text-left"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="90"
        height="90"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-check"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M11.5 21h-5.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v6"
        />
        <path d="M16 3v4" />
        <path d="M8 3v4" />
        <path d="M4 11h16" />
        <path d="M15 19l2 2l4 -4" />
      </svg>
      <span class="text-xl w-40">Eventos exclusivos</span>
    </div>
  </div>
</div>
<!-- End Highlights Section -->
<!-- Chefs Section -->
<div
  class="flex items-center py-10 px-4 w-full h-full text-base-content md:px-10 lg:px-20"
>
  <div class="flex flex-col w-full items-center gap-7 justify-center">
    <h2 class="font-merriweather text-3xl">Nuestros Chefs</h2>
    <div
      class="grid grid-cols-1 gap-6 justify-items-center w-full md:grid-cols-2 lg:grid-cols-3"
    >
      @for (chef of chefsArray; track $index) {
      <div
        class="w-70 rounded-xl overflow-hidden shadow bg-cream-50 border border-secondary-content/50 flex flex-col items-center"
      >
        <img
          [src]="chef.image"
          [alt]="chef.name"
          class="w-full h-60 object-cover"
        />
        <div class="p-4 w-full bg-accent flex flex-col items-center">
          <h3 class="font-merriweather font-bold text-lg mb-1">
            {{ chef.name }}
          </h3>
          <span class="text-sm text-gray-700 mb-2">{{ chef.role }}</span>
          <p class="text-center text-base-content text-sm font-jakarta">
            "{{ chef.quote }}"
          </p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
<!-- End Chefs Section -->
<!-- Image Carousel -->
<div
  class="flex items-center py-10 w-full h-full text-base-content relative pointer-events-none"
>
  <div class="swiper relative w-full" #swiperDiv>
    <div
      class="absolute inset-0 w-full h-full bg-black/50 pointer-events-none z-10"
    ></div>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper ease-linear">
      <!-- Slides -->
      @for (image of aboutImages; track $index) {
      <div class="swiper-slide">
        <img
          [src]="image"
          alt="Plato"
          class="w-full h-[300px] object-cover"
          loading="lazy"
        />
      </div>
      }
    </div>
  </div>
</div>
<!-- End Image Carousel -->
<!-- Sección Visítanos -->
<section class="w-full pb-10 flex flex-col items-center p-4 md:p-10 lg:p-20">
  <h2 class="font-merriweather text-3xl text-center my-5">Visítanos</h2>
  <div
    class="flex flex-col gap-4 justify-center mb-8 w-full md:flex-row md:gap-10"
  >
    <a class="cursor-pointer" (click)="onAddressChange(1)">
      <div
        class="group flex flex-row items-center justify-center gap-5 border border-base-content/60 bg-accent rounded-xl px-6 py-4 hover:bg-primary transition-all duration-200"
        [class]="{ 'bg-primary': selectedAddress()?.id === 1 }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="text-primary group-hover:text-primary-content"
          [class]="{ 'text-primary-content': selectedAddress()?.id === 1 }"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M3 21l18 0" />
          <path
            d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4"
          />
          <path d="M5 21l0 -10.15" />
          <path d="M19 21l0 -10.15" />
          <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
        </svg>
        <div class="flex flex-col">
          <span
            class="text-sm mb-1 group-hover:text-primary-content group-hover:font-bold"
            [class]="
              selectedAddress()?.id === 1
                ? 'text-primary-content font-bold'
                : 'text-base-content'
            "
            >Restaurante Norte</span
          >
          <span
            class="text-sm text-base-content group-hover:text-primary-content"
            [class]="
              selectedAddress()?.id === 1
                ? 'text-primary-content'
                : 'text-base-content'
            "
            >Av. Sol Naciente 1457, Barrio El Encino</span
          >
        </div>
      </div>
    </a>
    <a class="cursor-pointer" (click)="onAddressChange(2)">
      <div
        class="group flex flex-row items-center justify-center gap-5 border border-base-content/60 bg-accent rounded-xl px-6 py-4 hover:bg-primary transition-all duration-200"
        [class]="{ 'bg-primary': selectedAddress()?.id === 2 }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="text-primary group-hover:text-primary-content"
          [class]="{ 'text-primary-content': selectedAddress()?.id === 2 }"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M3 21l18 0" />
          <path
            d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4"
          />
          <path d="M5 21l0 -10.15" />
          <path d="M19 21l0 -10.15" />
          <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
        </svg>
        <div class="flex flex-col">
          <span
            class="text-sm mb-1 group-hover:text-primary-content group-hover:font-bold"
            [class]="
              selectedAddress()?.id === 2
                ? 'text-primary-content font-bold'
                : 'text-base-content'
            "
            >Restaurante Centro</span
          >
          <span
            class="text-sm text-base-content group-hover:text-primary-content"
            [class]="
              selectedAddress()?.id === 2
                ? 'text-primary-content'
                : 'text-base-content'
            "
            >Av. Del Olivo 309, Sector Monte Claro</span
          >
        </div>
      </div>
    </a>
    <a class="cursor-pointer" (click)="onAddressChange(3)">
      <div
        class="group flex flex-row items-center justify-center gap-5 border border-base-content/60 bg-accent rounded-xl px-6 py-4 hover:bg-primary transition-all duration-200"
        [class]="{ 'bg-primary': selectedAddress()?.id === 3 }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="text-primary group-hover:text-primary-content"
          [class]="{ 'text-primary-content': selectedAddress()?.id === 3 }"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M3 21l18 0" />
          <path
            d="M3 7v1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1m0 1a3 3 0 0 0 6 0v-1h-18l2 -4h14l2 4"
          />
          <path d="M5 21l0 -10.15" />
          <path d="M19 21l0 -10.15" />
          <path d="M9 21v-4a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v4" />
        </svg>
        <div class="flex flex-col">
          <span
            class="text-sm mb-1 group-hover:text-primary-content group-hover:font-bold"
            [class]="
              selectedAddress()?.id === 3
                ? 'text-primary-content font-bold'
                : 'text-base-content'
            "
            >Restaurante Sur</span
          >
          <span
            class="text-sm text-base-content group-hover:text-primary-content"
            [class]="
              selectedAddress()?.id === 3
                ? 'text-primary-content'
                : 'text-base-content'
            "
            >Av. Horizonte Azul 880, Zona Mirador Norte</span
          >
        </div>
      </div>
    </a>
  </div>
  <div class="w-full h-64 p-10 rounded-xl border border-primary" #mapDiv></div>
</section>
<!-- Fin Sección Visítanos -->
