<div
  class="relative flex items-center bg-accent p-10 min-h-75 before:absolute before:top-0 before:left-0 before:w-full before:h-2 before:bg-primary"
>
  <form class="flex-1" [formGroup]="reserveForm">
    @if (false) {
    <div class="flex flex-col justify-center gap-4">
      <label class="font-semibold text-lg" for="event-select"
        >Seleccionar Evento</label
      >
      <select
        #eventSelect
        class="appearance-none bg-background py-2 px-3 rounded-xl"
        name="event-select"
        id="event-select"
        formControlName="name"
        (change)="onEventSelect(eventSelect.value)"
      >
        <option value="">— Eventos —</option>
        <option value="lunch">Almuerzo o Cena</option>
        <option value="wedding">Boda</option>
        <option value="formal">Evento Formal</option>
        <!--  -->
        @for (event of eventsService.getAllEvents(); track $index) {
        <option [value]="event.title.replaceAll(' ', '-').toLowerCase()">
          {{ event.title }}
        </option>
        }
        <!--  -->
      </select>
      <a class="w-full bg-primary text-center py-2 rounded-xl">
        <span class="font-bold text-background">Siguiente</span></a
      >
    </div>
    }
    <!--  -->
    @if (true) {
    <div class="flex flex-col justify-center gap-4">
      <label class="font-lobster text-4xl text-center py-4" for="date-picker"
        >Seleccionar Fecha y Hora</label
      >
      <!-- Custom Date Picker con calendario que deshabilita domingos -->
      <brn-popover
        sideOffset="5"
        [state]="isPopoverOpen() ? 'open' : 'closed'"
        (stateChanged)="isPopoverOpen.set($event === 'open')"
      >
        <button
          type="button"
          class="font-jakarta cursor-pointer ring-offset-background border-input bg-background hover:text-accent-foreground inline-flex h-10 w-full items-center justify-between gap-2 rounded-xl border py-2 px-3 text-left text-sm font-normal whitespace-nowrap transition-all focus-visible:ring-ring focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50"
          brnPopoverTrigger
        >
          <span class="truncate">
            @if (selectedDate(); as date) {
            {{ formatDisplayDate(date) }}
            }
            <!--  -->
            @else {
            <span class="text-base">Fechas Disponibles</span>
            }
          </span>
          <ng-icon hlm size="sm" name="lucideChevronDown" />
        </button>

        <div hlmPopoverContent class="w-auto p-0" *brnPopoverContent>
          <hlm-calendar
            calendarClass="border-0 rounded-none"
            [date]="selectedDate()"
            [min]="today"
            [dateDisabled]="isSunday"
            (dateChange)="onDateSelect($event)"
          />
        </div>
      </brn-popover>

      <!-- Time Selector -->
      <div class="grid grid-cols-3 gap-3">
        @for (timeSlot of timeSlots; track timeSlot) {
        <button
          type="button"
          class="py-2 px-3 min-w-18 border-2 rounded-xl transition-all duration-200 hover:bg-primary hover:text-primary-foreground hover:border-secondary"
          [ngClass]="
            reserveForm.controls.time.value === timeSlot
              ? 'bg-primary text-primary-foreground border-secondary'
              : 'bg-secondary border-secondary '
          "
          (click)="onTimeSelect(timeSlot)"
        >
          {{ timeSlot }}
        </button>
        }
      </div>
      <div class="grid grid-cols-2 gap-3 pt-4">
        <a class="w-full bg-primary text-center py-2 rounded-xl">
          <span class="font-bold text-background">Atrás</span></a
        >

        <a class="w-full bg-primary text-center py-2 rounded-xl">
          <span class="font-bold text-background">Siguiente</span></a
        >
      </div>
      <!-- End Time Selector -->
    </div>
    }
    <!--  -->
  </form>
</div>
