/** SpartanUI Configurations  */
@import "tailwindcss";
@import "tailwindcss-animated";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "@angular/cdk/overlay-prebuilt.css";
@import "@spartan-ng/brain/hlm-tailwind-preset.css";

/** Plus Jakarta Sans font configuration */
@font-face {
  font-family: jakarta;
  src: url("../public/assets/fonts/plus-jakarta-sans/PlusJakartaSans-VariableFont_wght.ttf")
    format("woff2");
}

/** Lobster Two font configuration */
@font-face {
  font-family: lobster;
  src: url("../public/assets/fonts/lobster-two/LobsterTwo-Regular.ttf")
    format("woff2");
}

/** Tailwind Fonts and Animations */
@theme {
  --font-jakarta: jakarta, "sans-serif";
  --font-lobster: lobster, "sans-serif";

  --hero-size: calc(100vh - 100px);

  --img-transition: cubic-bezier(0, 0.89, 0.7, 0.94);
}

/** SpartanUI Theme Configuration */

:root {
  color-scheme: light;

  --background: oklch(1 0 0);
  --foreground: oklch(0.1609 0.021 89.35);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1609 0.021 89.35);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1609 0.021 89.35);
  --primary: oklch(0.6846 0.2063 37.64);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(0.8371 0.1065 75.54);
  --secondary-foreground: oklch(0.3686 0.0058 78.26);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.9475 0.0478 90.06);
  --accent-foreground: oklch(0.1609 0.021 89.35);
  --destructive: oklch(57% 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 1rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.1609 0.021 89.35);
  --sidebar-primary: oklch(0.1609 0.021 89.35);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.1609 0.021 89.35);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
/*
:root.dark {
  color-scheme: dark;

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
